<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Ajouter une réclamation
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form #claimForm="ngForm">
        <div class="row">
          <div class="col-6">
            <label class="form-label"
              >Nom<span style="color: red">*</span> :</label
            >
            <input
              type="text"
              placeholder="Nom"
              [className]="
                firstName.errors?.required && firstName.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="firstName"
              #firstName="ngModel"
            />
            <div
              class="invalid-feedback"
              *ngIf="firstName.errors?.required && firstName.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>

          <div class="col-6">
            <label class="form-label"
              >Prénom<span style="color: red">*</span> :</label
            >
            <input
              type="text"
              placeholder="Prénom"
              [className]="
                lastName.errors?.required && lastName.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="lastName"
              #lastName="ngModel"
            />
            <div
              class="invalid-feedback"
              *ngIf="lastName.errors?.required && lastName.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>

          <div class="col-6 mt-3">
            <label class="form-label"
              >Numéro de Passeport<span style="color: red">*</span> :</label
            >
            <input
              type="text"
              placeholder="Numéro de Passeport"
              [className]="
                passeport.errors?.required && passeport.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="passeport"
              #passeport="ngModel"
            />
            <div
              class="invalid-feedback"
              *ngIf="passeport.errors?.required && passeport.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>

          <div class="col-6 mt-3">
            <label class="form-label"
              >Téléphone<span style="color: red">*</span> :</label
            >
            <input
              type="text"
              placeholder="Téléphone"
              [className]="
                phone.errors?.required && phone.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="phone"
              #phone="ngModel"
            />
            <div
              class="invalid-feedback"
              *ngIf="phone.errors?.required && phone.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>

          <div class="col-6 mt-3">
            <label class="form-label">Email:</label>
            <input type="email" class="form-control" placeholder="Email" />
          </div>

          <div class="col-6 mt-3">
            <label class="form-label"
              >Chambre<span style="color: red">*</span> :</label
            >
            <input
              type="number"
              placeholder="Chambre"
              [className]="
                room.errors?.required && room.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="room"
              #room="ngModel"
            />
            <div
              class="invalid-feedback"
              *ngIf="room.errors?.required && room.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>

          <div class="col-12 mt-3">
            <label class="form-label"
              >Objet<span style="color: red">*</span> :</label
            >
            <input
              type="text"
              [className]="
                object.errors?.required && object.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="object"
              #object="ngModel"
            />
            <div
              class="invalid-feedback"
              *ngIf="object.errors?.required && object.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>

          <div class="col-12 mt-3">
            <textarea
              rows="5"
              placeholder="C'est quoi le problème ?"
              [className]="
                claimBody.errors?.required && claimBody.touched
                  ? 'form-control is-invalid'
                  : 'form-control'
              "
              required
              ngModel
              name="claimBody"
              #claimBody="ngModel"
            ></textarea>
            <div
              class="invalid-feedback"
              *ngIf="claimBody.errors?.required && claimBody.touched"
            >
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Annuler
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="claimForm.form.invalid"
      >
        Enregistrer
      </button>
    </div>
  </div>
</div>
