<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Qte</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let drink of drinks">
      <td class="drink-components">
        <b>{{ drink.name }}</b>
      </td>
      <td>
        <b>{{ drink.price }}$</b>
      </td>
      <td>
        <input type="number" value="01" class="qte" />
      </td>
      <td *ngIf="!drink.addedToCard">
        <p class="btn btn-warning" (click)="addToCard(drink)">
          <i class="fas fa-shopping-cart"></i>&nbsp; Acheter
        </p>
      </td>
      <td *ngIf="drink.addedToCard">
        <p class="btn btn-success" (click)="addToCard(drink)">
          <i class="fas fa-check-circle"></i>&nbsp; Ajouté
        </p>
      </td>
    </tr>
  </tbody>
</table>
